.quiz-container {
  // padding: 15px;

  .title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: center;
  }

  legend {
    font-size: 18px;
  }

  .list-detail {
    padding: 15px;
  }
}
