.login-container {
  .header {
    height: 45px;
    text-align: end;
    padding: 5px 100px 0;

    button {
      padding: 3px 15px;
      margin-left: 15px;
      border-radius: 5px;
      background: #f9f9f9;
      border: 1px solid;

      &:hover {
        background: white;
        box-shadow: 0 0 2px 0;
      }
    }
  }

  .title {
    font-size: 20px;
    padding: 20px 0;
    text-align: center;
    font-weight: bold;
  }

  .welcome {
    font-size: 20px;
    padding: 10px 0;
    text-align: center;
  }

  .content-form {
    input {
      margin: 3px 0px 15px;
    }

    span {
      color: #2d3436;

      // &:hover {
      //   cursor: pointer;
      // }
    }

    button {
      width: 50%;
      height: 50px;
      border: none;
      margin: 20px 0;
      color: white;
      background-color: #ffeaa7;
      font-weight: 900;
      border-radius: 15px;

      &:disabled {
        background-color: #dddddd;
        color: #afafaf;
        cursor: no-drop;
      }
    }
  }

  .btn-homepage {
    height: 50px;
    padding-top: 20px;

    &:hover {
      cursor: pointer;
    }
  }

  .loading-icon {
    font-size: 14px;
    margin-bottom: 3px;
    color: #00d4ff;
    animation: spin 0.8s infinite linear;
  }

  @keyframes spin {
    from {
      transform: scale(1) rotate(0deg);
    }
    to {
      transform: scale(1) rotate(360deg);
    }
  }
}
